version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: intuitive_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: intuitive_care
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./data:/var/lib/mysql-files

volumes:
  db_data: